* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

.very-specific-design {
  width: 600px;
  height: 400px;
  padding: 50px;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.scaleable-wrapper {
  padding: 20px;
  resize: both;
  position: relative;
  height: 400px;
}

.ui-resizable-se {
  width: 10px;
  height: 10px;
  background: orange;
  position: absolute;
  bottom: 0;
  right: 0;
}

.container {
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: #f4c542;
  background-color:black;
}

@media screen and (min-width: 600px) {
  .card {
    width:100%;
  }
}

@media screen and (min-width: 900px) {
  .card {
    width:100%;
  }
}

/* length of lines under user and pwd */
 .login-form-1 {
  max-width: 300px;
  /* border-radius: 5px; */
  display: inline-block;
}

/* design aspect of user and pwd */
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}

/* this deals with the light grey color of user and pwd */
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}

/* line under the use and pwd */
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}

/* border around login form */
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 5px;
  padding: 0px 20px 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttons {
  background-color: #f4c542;
  border-radius: 8px;
  border: none;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
